
@{
    <p>
        EnglishStudentCount     : @ViewBag.englishStudentCount<br>
        ProgrammingStudentCount : @ViewBag.programmingStudentCount<br>
        DrawingStudentCount     : @ViewBag.drawingStudentCount
    </p>
}